

/*
// page structure
-------------------------------------------------------
*/

// images
.flood{
	width:100%;
	// max-height:760px;
	background:rgb(240,240,240);
	z-index:1;
	margin:10em 0em;
	border-top:1px solid gray;
	border-bottom:1px solid gray;

}

.hero-image{
	max-width:100%;
	height:760px;
	background:url('../../img/nature-lab-hero.jpg');
	background-position:-180px -400px;
	// background:rgb(240,240,240);
	z-index:1;
}

.hero-image{
	position:relative;
	z-index:1;
}


.texture-specimens{
	width:100%;
	height:455px;
	background:rgb(248, 250, 255);

}


.container{
	margin-top:5em;
}


// logo intro

.logo{
	position:absolute;
	z-index:2;
	top:1em;
	text-align:center;
	width:100%;
	text-shadow:0px 0px 80px black;
	color:white;
	@media only screen and (max-width: 959px) and (min-width: 768px){
		// width:500px;
	}
}

.logo .title{
	display:inline-block;
	border-bottom:1px solid white;
	border-top:1px solid white;
	padding:0em 1em;


}

.logo svg{
	@media only screen and (max-width: 959px) and (min-width: 768px){
		width:500px;
		height:100px;
	}

	@media only screen and (max-width: 500px){
		width:200px;
	}

	@media only screen and (max-width: 767px) and (min-width: 480px){
		width:400px;
	}

}

.logo svg g path{
	fill:white;
	box-shadow:0px 0px 80px black;
}

.logo .subtitle{
	font-size:16px;
	font-family:courier, monospace;
	letter-spacing:0.125em;
	font-weight:normal;
	display:block;
	text-shadow:0px 0px 30px black;
}

.author-portrait{
	border-radius:50%;
}

// news module
.news-module{
	text-align:center;
	margin:6em auto;
}

.news-module p{
	color:white;
}

.news-entry{
	border-bottom:1px dotted black;
}

.headline{
	text-align:center;
}




/*
// Main Navigation
-------------------------------------------------------
*/

.main-nav{
	position:fixed;
	width:100%;
	z-index:99;
	top:-10em;
	-webkit-transition:top 0.3s ease-in-out;
}

.drawer{
	top:0em;
}

.main-nav .container{
	margin-top:0em;
}

.main-nav h1{
	margin-bottom:0em;
}
.main-nav h1, .main-nav ul, .main-nav ul li{
	float:left;
}

.main-nav ul li{
	margin-right:1em;
}

.main-nav ul{
	margin-top:2em;
}

.main-nav a:link, .main-nav a:visited{
	text-decoration:none;
	color:black;
}

.main-nav .active{
	border-bottom:3px solid black;
}



// pull quote
.pull-quote{
	background:url('../../img/fish_01.jpg') no-repeat right,
			   url('../../img/fish_02.jpg') no-repeat left;
   background-size:230px auto;
   margin:10em auto;
	
}

.pull-quote:before{
	content:"";
	background:url('../../img/orb-01.jpg');
	display:block;
	background-size:180px auto;
	width:170px;
	height:90px;
	// position:absolute;
	margin:0px auto -155px auto;

}

.pull-quote:after{
	content:"";
	background:url('../../img/orb-02.jpg');
	display:block;
	background-size:180px auto;
	width:170px;
	height:86px;
	// position:absolute;
	margin:-72px auto 0px auto;
}


/*
// Collections
-------------------------------------------------------
*/


.large-specimen{
	max-width:100%;
}

.collection h3{
	margin:0em;
}


.collection.row{
	margin:6em auto;
}




/*
// News
-------------------------------------------------------
*/

.news-story{
	margin:6em 0em;
}

/*
// Contact
-------------------------------------------------------
*/

.contact p{
	text-indent:0em;
}


/*
// Footer
-------------------------------------------------------
*/


footer{
	background:url('../../img/skull-footer.jpg');
	height:760px;
}


