.news-module{
	width:340px;
	height:340px;
	background:black;
	border-radius:50%
}

body{
	// background:rgb(247,248,235);
	background:rgb(252,252,252);
}

.main-nav{
	background:rgb(252,252,252);
}

.entry-meta-data ul li{
	color:rgb(100,100,100);
}