.logo{
	font-family:times, serif;
	font-size:120px;
	 @media only screen and (max-width: 767px) {
	 	font-size:64px;
	 }
}

p, li, h1, h2, h3, h4{
	-webkit-font-smoothing:antialiased;
}

p, li{
	font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', times, serif; 
	font-weight: 400; 
	font-style: normal;
	font-size:19px;
	line-height:28px;
}

.footer p{
	font-family:courier, monospace;
	font-size:12px;
	text-align:center;
}

.pull-quote h3{
	font-size:72px;
	line-height:1em;
	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:0.5em 0em;
	font-family:times, serif;
}

h2,h3{
	font-family:times, serif;
	font-weight:normal;
}

p:first-child{
	margin-bottom:0em;
	text-indent:0em;
}

p + p{
	margin-top:0em;
	text-indent:1.5em;
}

p .intro{
	font-family: 'Mercury Text G1 SC A', 'Mercury Text G1 SC B'; 
	font-weight: 600; 
	font-style: normal;
	letter-spacing:1px;
}


.entry-meta-data ul{
	list-style:none;
	font-family:courier, monospace;
}


.entry-meta-data ul li{
	font-family:courier, monospace;
	font-size:14px;
}
