

/* 
-------------------------------------------------
GLOBAL STYLES
-------------------------------------------------
*/

// - structure -----------------------------------

.container{
	margin-top:5em;
}


footer{
	background:url('../../img/skull-footer.jpg');
	height:760px;
}

/* 
-------------------------------------------------
MAIN NAV
-------------------------------------------------
*/

// nav structure
.main-nav{
	position:fixed;
	width:100%;
	z-index:99;
	top:0em;
	-webkit-transition:top 0.3s ease-in-out;
	-moz-transition:top 0.3s ease-in-out;
	
}

// nav when hidden
.nav-up{
	top:-80px;
}

// nav when active
.nav-down{
	top:0em;
}


.main-nav .container{
	margin-top:0em;
}

.main-nav h1{
	margin-bottom:0em;
}

.main-nav h1, .main-nav ul, .main-nav ul li{
	float:left;
}

.main-nav h1 svg{
	@media only screen and (max-width: 959px) and (min-width: 768px){
		width:150px;
	}
}

.main-nav ul li{
	margin-right:1em;
}

.main-nav ul{
	margin-top:2em;
}

.main-nav a:link, .main-nav a:visited{
	text-decoration:none;
	color:black;
}

.main-nav .active{
	border-bottom:3px solid black;
}





/* 
-------------------------------------------------
MAIN PAGE STYLES
-------------------------------------------------
*/


// - begin hero image ---------------------------

.hero-image{
	max-width:100%;
	height:760px;
	background:url('../../img/nature-lab-hero.jpg');
	background-size:cover;
	background-position:-0px -200px;
	// background:rgb(240,240,240);
	z-index:1;
	@media only screen and (max-width: 959px) and (min-width: 768px){
		background:url('../../img/nature-lab-header-02.jpg');
		background-size:1900px auto;
		background-position:-600px -350px;

	}
	@media only screen and (min-height:650px){
		height:650px;
		background-position:-0px -220px;
	}
	@media only screen and (min-height:800px) {
		height:800px;
		background-position:-0px -140px;
		
		.logo{
			top:2em;
		}
	}
	@media only screen and (min-height:900px) {
		height:900px;
		background-size:cover;
	}

}

.hero-image{
	position:relative;
	z-index:1;
	
}

.logo{
	position:absolute;
	z-index:2;
	top:1em;
	text-align:center;
	width:100%;
	text-shadow:0px 0px 80px black;
	color:white;
	@media only screen and (max-width: 959px) and (min-width: 768px){
		// width:500px;
	}
}

.logo .title{
	display:inline-block;
	border-bottom:1px solid white;
	border-top:1px solid white;
	padding:0em 1em;


}

.logo svg{
	@media only screen and (max-width: 959px) and (min-width: 768px){
		width:500px;
		height:100px;
	}

	@media only screen and (max-width: 500px){
		width:200px;
	}

	@media only screen and (max-width: 767px) and (min-width: 480px){
		width:400px;
	}

}

.logo svg g path{
	fill:white;
	box-shadow:0px 0px 80px black;
}

.logo .subtitle{
	font-size:24px;
	font-family:courier, monospace;
	letter-spacing:0.125em;
	font-weight:normal;
	display:block;
	text-shadow:0px 0px 30px black;
	text-transform:uppercase;
}

// -- end hero image ---------------------


.texture-specimens{
	width:100%;

}


.flood{
	width:100%;
	background:rgb(240,240,240);
	z-index:1;
	margin:10em 0em;
	border-top:1px solid gray;
	border-bottom:1px solid gray;

}

// - end images --------------------------------------








/* 
-------------------------------------------------
NEWS TICKER
-------------------------------------------------
*/

.news-ticker{
	text-align:center;
	margin:6em auto;
	position:relative;
	width:340px;
	height:340px;
}

.news-ticker:before{
	content:"";
	width:320px;
	height:320px;
	background:none;
	display:block;
	position:absolute;
	border:2px solid white;
	border-radius:50%;
	left:10px;
	top:10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


.news-ticker-headline{
	padding:1em;
	padding-top:3em;
	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/* 
-------------------------------------------------
PULL QUOTES
-------------------------------------------------
*/

.pull-quote{
	background:url('../../img/fish_01.jpg') no-repeat right,
			   url('../../img/fish_02.jpg') no-repeat left;
   background-size:230px auto;
   margin:10em auto;
   @media only screen and (min-width:1600px) {
		background-size:330px auto;
	}

	@media only screen and (max-width: 767px) {
		background:none;
	}	
}

.pull-quote:before{
	content:"";
	background:url('../../img/orb-01.jpg');
	display:block;
	background-size:180px auto;
	width:170px;
	height:90px;
	// position:absolute;
	margin:0px auto -155px auto;
	@media only screen and (min-width:1600px) {
		background-size: 266px auto;
		width: 250px;
		height: 129px;
		margin: 0px auto -176px auto;
	}
}

.pull-quote:after{
	content:"";
	background:url('../../img/orb-02.jpg');
	display:block;
	background-size:180px auto;
	width:170px;
	height:86px;
	// position:absolute;
	margin:-72px auto 0px auto;
	@media only screen and (min-width:1600px) {
		background-size: 266px auto;
		width: 250px;
		height: 129px;
		margin: -97px auto 0px auto;
	}
}


/* 
-------------------------------------------------
COLLECTIONS PAGE
-------------------------------------------------
*/


.large-specimen{
	max-width:100%;
}

.collection h3{
	margin:0em;
}


.collection.row{
	margin:6em auto;
}


.item, .grid-sizer{
	width:25%;
}

.item img{
	max-width:100%;
}

.item.w2{
	width:50%
}

.item.w4{
	width:100%
}

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	pointer-events: all;

	background-color: white;
}
.lightbox-open {
	overflow: hidden;
}
.lightbox-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	box-sizing: border-box;

	// width and height set dynamically
	// based on the window size
	width: 100%;
	height: 100%;
	cursor:s-resize;
}
.lightbox-image {
	position: relative;
	max-height: 100%;
	max-width: 100%;
}


.moving-specimen, .moving-specimen source{
	width:100%;
}


/* 
-------------------------------------------------
NEWS PAGE
-------------------------------------------------
*/


.news-entry{
	margin:6em 0em;
}


.news-author-portrait{
	border-radius:50%;
	-webkit-filter:sepia(1) grayscale(0.6) contrast(0.7);
	-moz-filter:sepia(1) grayscale(0.6) contrast(0.7);
}



.news-story{
	border-bottom:1px dotted black;
}

.news-pagination {
	.hidden {
		display: none;
	}
}


// - begin input boxes & forms -----------------
input[type=search]{
	border:1px solid black;
	padding:0.125em 0.25em;
}

input[type=search]:focus{
	// background:black;
	box-shadow:none;
	outline-color:none;
	outline-width:0px;
	outline-style:none;
}

// - end input boxes & forms -----------------



/* 
-------------------------------------------------
CONTACT PAGE
-------------------------------------------------
*/


.contact p{
	text-indent:0em;
}








